.control {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.control__label {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.control__input {
  font-family: Roboto;
  font-size: 1.8rem;
  padding: 0.5rem;
  outline: none;
}

.control__input:focus {
  border: 0.2rem solid var(--highlight-color);
  box-shadow: 0 0 0.4rem var(--highlight-color);
}

.control__inputError,
.control__inputError:focus {
  border: 0.2rem solid rgb(196, 59, 59);
  box-shadow: 0 0 0.4rem rgb(196, 59, 59);
}
