.header,
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  line-height: 1.5;
  font-size: 2.2rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  padding: 5rem 15rem;
  background-color: var(--background-color);
  transition: box-shadow 0.2s ease;
}

.header--default {
  background-color: var(--background-color);
}

.header--highlight {
  background-color: var(--highlight-light);
}

.header--scrolled {
  box-shadow: var(--box-shadow-standard);
}

.navBar {
  margin-left: auto;
  color: var(--text-color);
}
