.cta {
  width: 100%;
  margin: 1rem;
}

.title {
  font-size: 5.3rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 1rem;
}

.title__highlight {
  color: var(--highlight-color);
}

.para {
  font-size: 2rem;
  margin: 1.5rem 0;
}
