# Database configuration
DATABASE_HOST=hostname
DATABASE_PORT=5432
DATABASE_NAME=database_name
DATABASE_USER=username
DATABASE_PASSWORD=password
SESSION_SECRET=replace_with_a_long_random_secret

DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}