.layoutWrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30rem minmax(0, 1fr);
  background-color: var(--background-color);
}

.contentArea {
  min-width: 0;
  align-self: start;
  padding: 10rem 10rem;
}

@media (max-width: 960px) {
  .layoutWrapper {
    grid-template-columns: 1fr;
  }
}
