/* Global CSS Style */

:root {
  --font-color: black;
  --background-color: #f9f7f7;
  --highlight-color: #3f72af;
  --highlight-light: #d6d6e3;
  --highlight-dark: #112d4e;
}

/* Basic CSS reset and style */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* set font size to a multiple of 10 */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}
