.control {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.legend {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.controlRadio {
  display: inline;
  margin: 0 3rem;
}

.radio {
  margin-right: 1rem;
}

.fieldset {
  border: none;
}
