.navList {
  list-style: none;
  margin: 1rem;
  padding: 0.5rem;
}

.navItem {
  position: relative;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 1rem;
  transition: color ease-in-out 0.2s;
}

.navItem:hover {
  color: var(--highlight-color);
}

.horizontal {
  display: inline;
}

.vertical {
  display: block;
}
