.navList {
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.navItem {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5rem;
}

.horizontal {
  display: inline;
}

.vertical {
  display: block;
}
