.container {
  width: min(100%, 110rem);
  border-radius: 1.2rem;
  padding: 3rem;
}

.title {
  font-size: 3.2rem;
  color: var(--highlight-color);
  text-align: center;
}

.buttons {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}