.main,
.section {
  display: flex;
}

.main {
  flex-direction: column;
  width: 65%;
  max-width: 140rem;
  min-width: 100rem;
  margin: 0 auto;
}

.section,
.zigzag {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.zigzag {
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}

.zigzag__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.zigzag__title {
  font-size: 4.5rem;
  color: var(--highlight-color);
  margin-bottom: 1rem;
}

.zigzag__para {
  font-size: 3.5rem;
  width: 95%;
}

.motivation {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.highlight {
  color: var(--highlight-color);
}
