.button {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #3f72af;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  transition: transform ease-in-out 0.1s;
}

.button:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.button:active {
  background-color: #112d4e;
  box-shadow: none;
  transform: scale(0.95);
}
