/* Global CSS Style */

:root {
  --font-color: #1F2A37;
  --font-color-secondary: #6B7280;

  --background-color: #FEFEFE;
  --highlight-color: #024BAE ;
  --highlight-light: #F6F7FD;
  --highlight-dark: #0B1B3A  ;
}

/* Basic CSS reset and style */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* set font size to a multiple of 10 */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--background-color);
}
