/* Global Not Found style */

.notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.notFound-header {
  font-size: 5rem;
  color: var(--highlight-color);
}

.notFound-para {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.notFound-link {
  font-size: 1.8rem;
  font-weight: bold;
}
